/*
@font-face {
	font-family: "iconfont";
    src: url('iconfont.ttf?t=1464927413')
}*/

.music-icon {
	  font-family:"icomoon" !important;
	  font-size:20px;
	  font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-stroke-width: 0.2px;
	  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	  font-family: 'icomoon';
	  src:  url('icomoon.eot?yjynup');
	  src:  url('icomoon.eot?yjynup#iefix') format('embedded-opentype'),
		url('icomoon.ttf?yjynup') format('truetype'),
		url('icomoon.woff?yjynup') format('woff');
	  font-weight: normal;
	  font-style: normal;
}

[class$="-icon"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'icomoon' !important;
	  speak: none;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;
}

.music-menu:before { content: "\e5d2"; }
.music-notifications:before { content: "\e7f4"; }
.music-dashboard:before { content: "\e871"; }
.music-local_library:before { content: "\e54b"; }
.music-mic:before { content: "\e029"; }
.music-filter_drama:before { content: "\e3dd"; }
.music-alarm:before { content: "\e855"; }
.music-schedule:before { content: "\e8b5"; }
.music-school:before { content: "\e80c"; }
.music-share:before { content: "\e80d"; }
.music-edit:before { content: "\e22b"; }
.music-check:before { content: "\e5ca"; }
.music-close:before { content: "\e5cd"; }
.music-expand_less:before { content: "\e5ce"; }
.music-expand_more:before { content: "\e5cf"; }
.music-arrow_left:before { content: "\e314"; }
.music-arrow_right:before { content: "\e315"; }
.music-arrow_up:before { content: "\e316"; }
.music-backspace:before { content: "\e317"; }
.music-phone_iphone:before { content: "\e325"; }
.music-pets:before { content: "\e91d"; }
.music-lock:before { content: "\e897"; }
.music-lock_open:before { content: "\e898"; }
.music-lock_outline:before { content: "\e899"; }
.music-equalizer:before { content: "\e01d"; }

.music-drafts:before { content: "\e151"; } // letter
.music-markunread:before { content: "\e159"; }
.music-more_horiz:before { content: "\e5d3"; }
.music-more_vert:before { content: "\e5d4"; }
.music-back:before { content: "\e5c4"; }

.music-favorite_border:before { content: "\e87e"; }

.music-search:before { content: "\e604"; }
